<div class="card post-entry">
    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-title">@Model.Description</p>
        <div><label>Contacts</label></div>
        <div class="contacts-body">
            <div><label class="card-title"><b>Email: </b>@Model.Email</label></div>
            <div><label class="card-title"><b>Phone number: </b>@Model.PhoneNumber</label></div>
            <div><label class="card-title"><b>Address: </b> @Model.Address</label></div>
        </div>
        <div><label>Working hours</label></div>
        <div><label class="card-title">@Html.Raw(@Model.PrettyWorkingHours())</label></div>
        <a asp-controller="Posts" asp-action="Show" asp-route-id="@Model.Id"class="btn btn-primary">Visit</a>
    </div>
</div>