<div class="card post-entry">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-title">@Model.Description</p>
        <div class="rating-carts" id='div_<%#Container.DataItemIndex %>' value="false">
            <input type="hidden" class="post-id" value="@Model.Id" />
            <a class="cart-outline @(@Model.Rating > 0 ? "filled" : "")" data-rating="1" title="vote 1" onclick="saveVotes(event)">vote 1</a>
            <a class="cart-outline @(@Model.Rating > 1 ? "filled" : "")" data-rating="2" title="vote 2" onclick="saveVotes(event)">vote 2</a>
            <a class="cart-outline @(@Model.Rating > 2 ? "filled" : "")" data-rating="3" title="vote 3" onclick="saveVotes(event)">vote 3</a>
            <a class="cart-outline @(@Model.Rating > 3 ? "filled" : "")" data-rating="4" title="vote 4" onclick="saveVotes(event)">vote 4</a>
            <a class="cart-outline @(@Model.Rating > 4 ? "filled" : "")" data-rating="5" title="vote 5" onclick="saveVotes(event)">vote 5</a>
            <p>Rating : <span class="total-rating">@Model.Rating</span><span class="CurrentScore">@ViewBag.SpanText</span></p>
        </div>
        <a asp-controller="Posts" asp-action="Show" asp-route-id="@Model.Id" class="button normal" style="vertical-align: middle"><span>Visit </span></a>
    </div>
</div>
<script type="text/javascript">
    function saveVotes(e) {
        const el = $(e.target);
        const parent = el.parent();
        const postId = parent.find('.post-id').prop('value');
        $.ajax({
            url: '/Posts/RatePost/' + postId,
            data: { rating: el.data('rating') },
            type: 'POST',
            success: function (result) {
                if (parent.attr('value') === "false") {
                    parent.find('.CurrentScore').html(result);
                    parent.attr('value', 'true');
                }
                console.log("Result is:", result);
            }
        });
    }
 </script>