@model PostViewModel

<div class="card post-entry">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-title">@Model.Description</p>
        <div class="rating-carts" id='div_<%#Container.DataItemIndex %>' value="false">
            <input type="hidden" id="postId" value="@Model.Id" />
            <input type="hidden" id="userId" value="@User.Identity.Name" />
            @for (int i = 1; i <= 5; ++i)
            {
                <a class="cart-outline @(Model.AverageRate > i - 1 ? "filled" : "")" title="vote @i" onclick="saveVotes(@i)">vote @i</a>
            }
            <p>Rating : <span id="postRate" class="total-rating">@Model.AverageRate</span></p>
        </div>
        <button onclick="location.href='/Post/@Model.Id'" class="button normal" style="vertical-align: middle"><span>Visit</span></button>
    </div>
</div>

<script>
   function saveVotes(rate) {
       if ($("#userId").val() == "") {
           return;
       }
        $.ajax({
            url: '/Rate/Create/' + $("#userId").val() + '/' + $("#postId").val() + '/' + rate,
            type: 'POST',
            contentType: "application/json",
            success: function () {
                getRates().then(function (result) {
                    $("#postRate").text(result).removeAttr("style");
                    console.log(result);
                })
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    function getRates() {
        return Promise.resolve($.ajax({
            url: 'Rate/' + $("#postId").val(),
            method: 'GET',
            contentType: "application/json"
        }));
    }
 </script>