@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Components.Web
@model PostShowViewModel

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@Model.Post.Title</h3>
            <h6 class="card-subtitle mb-2 text-muted">@Model.Post.Description</h6>
        </div>
        <div class="card-body">
            <ul class="list-group list-grou-flush">
                <h6 class="card-title">Contacts</h6>
                <li class="list-group-item">
                    <div>
                        <b>Phone number:</b> @Model.Post.PhoneNumber
                    </div>
                    <div>
                        <b>Email:</b> @Model.Post.Email
                    </div>
                    <div>
                        <b>Address:</b> @Model.Post.Address
                    </div>
                </li>

                <h6 class="card-title">Working hours</h6>
                <li class="list-group-item">
                    <div>
                        @Html.Raw(@Model.PrettyTimeSheet)
                    </div>
                </li>
            </ul>
            @if (@Context.Session.GetString("User") != null && @Model.Post.UserId == @Context.Session.GetString("User"))
            {
                <div class="action-container">
                    <a asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.Post.Id" class="button normal" style="vertical-align: middle"><span>Edit </span></a>
                    <a asp-controller="Posts" asp-action="Delete" asp-route-id="@Model.Post.Id" class="button danger" style="vertical-align: middle"><span>Delete </span></a>
                </div>
            }
        </div>
    </div>
</div>

