@model PostViewModel

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@Model.Title</h3>
            <h6 class="card-subtitle mb-2 text-muted">@Model.Description</h6>
        </div>
        <div class="card-body">
            <h6 class="card-title">Contacts</h6>
            <ul class="list-group list-grou-flush">
                <li class="list-group-item">
                    <div>
                        <b>Phone number:</b> @Model.Phone
                    </div>
                    <div>
                        <b>Email:</b> @Model.Email
                    </div>
                    <div>
                        <b>Address:</b> @Model.Address
                    </div>
                </li>
            </ul>
            <h6 class="card-title mt-4">Working hours</h6>
            <table class="list-group list-grou-flush list-group-item">
                @foreach (Dottle.Domain.Enums.Days day in Enum.GetValues(typeof(Dottle.Domain.Enums.Days)))
                {
                    var timeSheet = Model.TimeSheets.FirstOrDefault(x => x.DayOfWeek == (int)day);
                    if (timeSheet != null)
                    {
                        <tr>
                            <td>@day&emsp;&emsp;&emsp;</td>
                            <td>@TimeSpan.FromSeconds(timeSheet.OpensAt).ToString("hh\\:mm") - @TimeSpan.FromSeconds(timeSheet.ClosesAt).ToString("hh\\:mm")</td>
                        </tr> 
                    }
                    else
                    {
                        <tr>
                            <td>@day&emsp;&emsp;&emsp;</td>
                            <td>Closed</td>
                        </tr>
                    }
                }
            </table>
            @if (User.Identity.Name != null && Model.Id == Guid.Parse(User.Identity.Name))
            {
                <div class="action-container">
                    <a asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.Id" class="button normal" style="vertical-align: middle"><span>Edit </span></a>
                    <a asp-controller="Posts" asp-action="Delete" asp-route-id="@Model.Id" class="button danger" style="vertical-align: middle"><span>Delete </span></a>
                </div>            
            }
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Interested? Contact the business owner!</h4>
                </div>
                <div class="card-body">
                    @*@{ await Html.RenderPartialAsync("ContactForm", new Inquiry { Email = Model.Post.Email }); }*@
                    <partial name="ContactForm" />
                </div>
            </div>
        </div>
    </div>
</div>